{% extends 'SalitaUsuarioBundle:Menu:menuAdministrador.html.twig' %}

{% block menu %}
{% endblock %}

{% block contenido %}
	{{ form(form) }}
	{#<form action="{{ path('asignacion_especialidad') }}" method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}
    	<input type="submit" />
	</form>#}
{% endblock %}