{% extends "::base.html.twig" %}

{% block contenido %}
  <h3>Listado de administradores</h3>
  <table id="tabla">
    <thead><tr><th>Nombre y Apellido</th><th></th><th></th></tr></thead>
    <tbody>
      {% for usuario in usuarios %} 
        <tr><td>{{usuario.nombre}} {{usuario.apellido}}</td>
        <td><a href="{{ path('modif_usuario', { 'id': usuario.id }) }}">Editar</a></td>
        <td><a href="{{ path('del_administrador', { 'id': usuario.id }) }}">Dar de baja</a></td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}