{% extends '::base.html.twig' %}

{% block contenido %}
<form action="{{ path('alta_metodoestudio') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}
