{% extends "SalitaPacienteBundle::base.html.twig" %}

{% block contenido %}
  <h1 id="tituloCentro">Resultado de la búsqueda</h1>
  {% if pacientes|length > 0 %}
    <table>
      <thead><tr><th>Nombre y apellido</th><th></th></tr></thead>
      <tbody>
        {% for paciente in pacientes %}
          <div class="paciente">
            <tr><td>{{paciente.nombre}} {{paciente.apellido}}</td><td><a href="{{ path('seleccion_paciente', { 'idPaciente': paciente.id }) }}">Seleccionar</a></td></tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 id="nota">- No se han encontrado resultados -</h4>
  {% endif %}
{% endblock %}