{% extends "SalitaPlanBundle::base.html.twig" %}

{% block contenido %}
  <h3>Entregas de plan procreación responsable</h3>
  </br>
  {% if entregasplanprocresp|length > 0 %}
    <table>
      <thead><tr><th>Paciente</th><th>Método</th><th>Fecha</th></thead>
      <tbody>
        {% for entregaplanprocresp in entregasplanprocresp %}
          <tr><td>{{entregaplanprocresp.nombrePac}} {{entregaplanprocresp.apellidoPac}}</td><td>{{entregaplanprocresp.metodo}}</td><td>{{entregaplanprocresp.fecha}}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 id="nota">- No se han encontrado resultados -</h4>
  {% endif %}
{% endblock %}