{% extends "SalitaPlanBundle::base.html.twig" %}

{% block contenido %}
	¿Confirma el registro de entrega?
	{{ form(form, { 'action': path('alta_entregaplanprocresp'), 'idPlan': id }) }}
	{#<form action="{{ path('alta_entregaplanprocresp', { 'idPlan': id }) }}" method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}
    	<input type="submit" />
	</form>#}
{% endblock %}