{% extends "FOSUserBundle::layout.html.twig" %}

{#
{% block menu %}
    <div id="menu">
        <ul>
            {% include 'SalitaUsuarioBundle:OpcionesMenu:opcionesAdministrador.html.twig' %}
        </ul>
    </div>
{% endblock %}
#}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
{% endblock fos_user_content %}