  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Datos Filiatorios</h3>
      </div>
      <div class="panel-body">
        <div><a href="{{path('modificacion_datosFiliatorios')}}">Modificar los datos filiatorios</a></div>
      </div>
    </div>
  </div>
{#
<div class="subtituloMenu">
  Datos Filiatorios:
</div>
<ul>
  <div class="opcionMenu">
    <li><a href="{{path('modificacion_datosFiliatorios')}}">Modificar los datos filiatorios</a></li>
  </div>
</ul>
#}