{% extends "SalitaPlanBundle::base.html.twig" %}

{% block contenido %}
  <h1 id="tituloCentro">Planes deshabilitados</h1>
  {% if planes|length > 0 %}
    <table>
      <thead><tr><th>Plan</th><th>Periodicidad</th><th></th><th></th></tr></thead>
      <tbody>
        {% for planprocresp in planes %}
          <div id="planDes">
            <tr><td>{{planprocresp.nombre}}</td>
            <td>{{planprocresp.periodicidad}}</td>
            <td><a href="{{ path('habilitacion_planprocresp', { 'idPlan': planprocresp.id }) }}">Habilitar</a></td>
            <td><a href="{{ path('listado_entregaplanprocresp', { 'idPlan': planprocresp.id }) }}">Listar entregas</a></td></tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 id="nota">- No hay planes deshabilitados -</h4>
  {% endif %}
{% endblock %}