{% extends "SalitaPacienteBundle::base.html.twig" %}

{% block contenido %}
  {% set paciente = app.session.get('paciente') %}
  {% include "SalitaPacienteBundle:HistoriaClinica:datosFiliatorios.html.twig" %}
  {% include "SalitaPacienteBundle:HistoriaClinica:consultas.html.twig" %}
  <h3>Resumen de Historia clinica generado por {{usuarioGenerador.nombre}} {{usuarioGenerador.apellido}}</h3>
{% endblock %}