{% extends "SalitaPacienteBundle::base.html.twig" %}

{% block contenido %}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionDatosFiliatorios.html.twig') }}

  {{ include('SalitaPacienteBundle:HistoriaClinica:seccionConsultas.html.twig', 
     { consultas: consultas, estudios: estudios }) }}

  <h3>Resumen de Historia clinica generado por {{usuarioGenerador.getNombre()}} {{usuarioGenerador.getApellido()}}</h3>

{% endblock %}