{# Recibe como parametros: antecedenteFO #}

{% set paciente = app.session.get('paciente') %}

{% if paciente.isMujer() %}
  <div class="tituloSeccion">Antecedentes Familiares Obstétricos</div><br>
  <p>
    <span class="caja1">
      <span class="aux"> Preeclampsia/Eclampsia: </span>
      <span class="datos">{% if antecedenteFO.preeclampsiaEclampsia == 1 %}Sí{% else %}No{% endif %}</span><br>
      <span class="aux"> Tuberculosis: </span>
      <span class="datos">{% if antecedenteFO.tuberculosis == 1 %}Sí{% else %}No{% endif %}</span><br>
    </span>
    <span class="caja2">
      <span class="aux"> Diabetes:</span>
      <span class="datos">{% if antecedenteFO.diabetes == 1 %}Sí{% else %}No{% endif %}</span><br>
      <span class="aux"> Hipertensión arterial:</span>
      <span class="datos">{% if antecedenteFO.hipertensionArterial == 1 %}Sí{% else %}No{% endif %}</span><br>
      <span class="aux"> Otros:</span>
      <span class="datos">{% if antecedenteFO.otros == null %} - {% else %}{{antecedenteFO.otros}}{% endif %}</span><br>
    </span>
  </p>
  <br>
{% endif %}