{% extends "::base.html.twig" %}

{% block contenido %}
	{# 	Invocando a la funcion form sin argumentos mas que el form, twig asume que el metodo es POST y que
		el action del form es la misma URL que lo renderizó. Para cambiar estos parametros habria que hacer
		algo asi:

		form(form, { 'action': path('ruta_deseada'), 'method': GET })
     #}
    {{ form(form) }}

	{% for flashMessage in app.session.flashbag.get('mensaje') %}
		<div class="flash-message">
			{{ flashMessage }}
		</div>
	{% endfor %}
{% endblock %}