{% extends "SalitaPacienteBundle::base.html.twig" %}

{% block contenido %}
<form action="{{ path('alta_antecedentePersonalObstetrico') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}